page {
  width: 100%;
  height: 100%;
  position: absolute;
}
page .view {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 50px;
}
page .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 120px;
  text-align: center;
  padding-top: 80px;
  color: #bbb;
}
page .error {
  width: 100%;
  height: 100%;
}
page header {
  top: 0px;
  width: 100%;
  position: absolute;
  top: 0px;
}
page footer {
  bottom: 0px;
  position: absolute;
  bottom: 0px;
}
