<div class="container">
    <div name="productImages" class="swiper-container">
        <div v-for="imageUrl in product.ImageUrls" class="swiper-wrapper">
            <div class="swiper-slide" style="text-align:center;">
                <image-box v-bind:src="imageUrl" class="img-responsive-100 img-full">
                </image-box>
            </div>
        </div>
        <div v-if="product.ImageUrls.length > 1" name="productImages-pagination" class="swiper-pagination"></div>
    </div>

    <div>
        <a data-bind="click:showDetailView,tap:showDetailView">
            <div name="productName" class="pull-left" style="width:100%;margin-left:-20px;">
                <h4 class="text-left" style="font-weight:bold;padding-left:20px;">{{product.Name}}</h4>
            </div>
        </a>
    </div>
    <div class="col-xs-12 box" style="padding: 10px 0px 10px 0px;">
        <span>类别：</span>
        <a data-bind="href: ['#Home_ProductList_category_{0}', product.ProductCategoryId]" href="#Home_ProductList_category_1abe2836-9c26-4472-8c3a-c840bb29ea6a">{{product.ProductCategoryName}}</a>
    </div>

    <div class="col-xs-12 box" style="padding: 10px 0px 10px 0px;">
        <span class="pull-left">价格：<strong data-bind="money: product.Price" class="price">￥{{product.Price.toFixed(2)}}</strong></span>
        <span v-if="product.Score" class="pull-left" style="display: none;">积分：<strong class="price">{{product.Score}}</strong></span>
        <span class="pull-right">{{product.Unit}}</span>
        <div class="clearfix"></div>
        <p class="oldprice" v-if="product.MemberPrice != null && product.MemberPrice != product.Price" style="display: none;">
            促销价：<span class="price">￥{{product.MemberPrice.toFixed(2)}}</span>
        </p>
    </div>

    <div data-bind="click:showPanel,tap:showPanel" class="col-xs-12 box" style="padding: 10px 0px 10px 0px;">
        <div class="pull-left">
            <span>已选：</span>
            <span>{{productSelectedText}}</span>
        </div>
        <div class="pull-right">
            <i class="icon-chevron-right"></i>
        </div>
    </div>

    <div data-bind="visible:ko.unwrap(product.Promotions).length>0" class="col-xs-12 box" style="padding: 10px 0px; display: none;">
        <div data-bind="foreach:product.Promotions"></div>
    </div>
</div>
<hr/>
<div class="container">
    <h4 style="font-weight: bold;width:100%;">商品信息</h4>
    <div v-for="argument in product.Arguments" style="margin-bottom:10px;">
        <div class="pull-left" style="width:100px;">{{argument.key}}</div>
        <div style="margin-left:100px;">{{argument.value}}</div>
        <div class="clearfix"></div>
    </div>
    <div v-if="product.Arguments == null || product.Arguments.length == 0" 
         style="height:120px;padding-top:40px;text-align:center;">
        <h4>暂无商品信息</h4>
    </div>
</div>
<hr/>

<div class="pull-up-indicator">
    <h4 class="text-center">
        <div class="init">
            <i class="icon-chevron-up"></i>
            <span>上拉查看商品详情</span>
        </div>
        <div class="ready" style="display:none;">
            <i class="icon-chevron-up"></i>
            <span>释放查看商品详情</span>
        </div>
    </h4>
</div>
