<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12">
                <input v-model="user.mobile" class="form-control" type="text" name="手机号码" placeholder="请输入手机号码" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <input v-model="user.verifyCode" type="text" name="验证码" class="form-control" placeholder="验证码" />
            </div>
            <div class="col-xs-6">
                <button v-on:click='sendVerifyCode' v-bind:disabled="letfSeconds>0" type="button" class="btn btn-block btn-warning">{{sendButtonText}}</button>
            </div>
            <div class="col-xs-12">
                <span></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input data-bind="value:user.password" name="密码" type="password" class="form-control" placeholder="请输入密码" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input data-bind="value:user.confirmPassword" name="确认密码" type="password" class="form-control" placeholder="请再一次输入密码" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button v-on:click="register" type="button" class="btn btn-primary btn-block">立即注册</button>
            </div>
        </div>
    </form>
</div>