<ul class="tabs">
    <li v-on:click="all" v-bind:class="{active:type == 'all'}">
        全部
    </li>
    <li v-on:click="paid" v-bind:class="{active:type == 'paid'}">
        已付款
    </li>
    <li v-on:click="waitingForPayment" v-bind:class="{active:type == 'waitingForPayment'}">
        待发货
    </li>
    <li v-on:click="send" v-bind:class="{active:type == 'send'}">
        已发货
    </li>
</ul>
<template v-for="(order, index) in orders">
    <hr>        
    <div class="order-item">
        <div class="header">
            <h4>订单编号：<span>{{order.Serial}}</span></h4>
            <div class="pull-right">
                <i class="icon-chevron-right"></i>
            </div>
        </div>
        <div class="body">
            <ul v-if="order.OrderDetails.length > 1">
                <li v-for="orderDetail in order.OrderDetails">
                    <cv-img v-bind:src="orderDetail.ImageUrl" class="img-responsive img-thumbnail"/>
                </li>
            </ul>
            <div v-if="order.OrderDetails.length == 1" class="row clearfix">
                <div class="col-xs-3">
                    <cv-img v-bind:src="order.OrderDetails[0].ImageUrl" class="img-responsive img-thumbnail">
                </div>
                <div class="name col-xs-9">
                    <span>{{order.OrderDetails[0].ProductName}}</span>
                </div>
            </div>
        </div>
        <div class="footer clearfix">
            <h4 class="pull-left">
                实付款：<span class="price">￥{{order.Amount.toFixed(2)}}</span>
            </h4>
            <div class="pull-right">
                <label class="pull-right"> {{type=='paid'?'已付款':'待发货'}}</label>
            </div>
        </div>
    </div>
</template>
<div v-show="isLoading" class="data-loading">
    <i class="icon-spinner icon-spin"></i>
    <span>数据正在加载中...</span>
</div>