page {
    .view {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .loading {
        width: 100%;
        height: 100%; 
        position: absolute;

        font-size: 120px;
        text-align: center;  
        padding-top: 80px;
        color: #bbb;
    }

    .error {
        width: 100%;
        height: 100%;
    }

    .header {
        top: 0px;
        position: absolute;
    }

    .footer {
        bottom: 0px;
        position: absolute;
    }
}