<div style="min-height:80px;" name="ad-swiper" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li v-for="item in advertItems" data-target="#carousel-ad"></li>
  </ol>
  <div class="carousel-inner">
    <div v-for="(item, index) in advertItems" v-bind:class="{active: index == 0}" class="item">
      <image-box v-bind:src="item.ImgUrl" class="img-responsive">
      </image-box>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>

<div class="quickbar">
  <a class="col-xs-3 text-center" href="#user_favors">
      <div style="position:relative;left:50%;">
      <div class="item">
        <i class="icon-heart"></i>
      </div>
      </div>
      <div class="text">我的收藏</div>
  </a>
  <a class="col-xs-3 text-center" href="#shopping_orderList">
    <div style="position:relative;left:50%;">
      <div class="item">
        <i class="icon-list"></i>
      </div>
    </div>
    <div class="text">订单查询</div>
  </a>
  <a class="col-xs-3 text-center" href="#User_RechargeList">
    <div style="position:relative;left:50%;">
      <div class="item">
        <i class="icon-credit-card"></i>
      </div>
    </div>
    <div class="text">会员充值</div>
  </a>
  <a class="col-xs-3 text-center" href="#">
    <div style="position:relative;left:50%;width:0px;">
      <div class="item">
        <i class="icon-exchange"></i>
      </div>
    </div>
    <div class="text">积分兑换</div>
  </a>
</div>

<div class="row products" style="margin: 0px;">
  <data-list @load="loadProducts">
    <template scope="props">
      <a :href="'#home_product?id=' + props.item.ProductId" class="col-xs-6 text-center item">
        <image-box :src="props.item.ImagePath"></image-box>
        <div class="bottom">
          <div class="interception">{{props.item.Name}}</div>
          <div>
            <div class="price pull-left">￥{{props.item.Price.toFixed(2)}}</div>
          </div>
        </div>
      </a>
    </template>
  </data-list>
</div>